p {
	margin: 0;
	padding: 0;
}

#content {
	width: 100%;
	margin: 1em;
}

#assignments .assignment:nth-child(odd) {
   background-color: #e8f6ff;
}

.assignment {
	padding: 1em;
	border-radius: 1em;
}

.title {
	font-weight: bold;
}

.title a.preview {
	font-weight: normal;
	text-decoration: none;
	font-size: smaller;
	display: inline-block;
	float: right;
	color: black;
}


.no-feedback, .no-feedback .title a.preview {
	font-size: smaller;
	color: #aaa;
}

.due_date {
	font-style: italic;
	font-size: smaller;
	margin: 0.25em 0 0.5em 2em;
}

.message {
	margin: 0.25em;
	margin-left: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
}

.message.teacher {
	background: #ffe9a6;
}

.commenter {
	font-style: italic;
	font-size: smaller;
	display: block;
}